version: "3.9"

services:
  ingestion:
    container_name: price-aggregator-ingestion
    build:
      context: ./services/ingestion
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
